/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar Styling */
.navbar {
  border-bottom: 1px solid #ddd;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #333;
  font-weight: bold;
}

.navbar-brand .fa-leaf {
  color: #28a745; /* Main brand color */
}

.navbar-brand span {
  font-size: 1.25rem;
}

.navbar-nav .nav-link {
  color: #333;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #28a745; /* Hover color */
}

.navbar-nav .nav-link.active {
  color: #28a745; /* Active link color */
  font-weight: 700;
}

.navbar-collapse {
  justify-content: space-between;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler-icon {
  background-image: none;
  font-size: 1.25rem;
}

.d-flex .fa {
  color: #333;
  transition: color 0.3s ease;
}

.d-flex .fa:hover {
  color: #28a745; /* Hover color for icons */
}

.d-flex a {
  text-decoration: none;
}

.d-flex .fa-bell {
  font-size: 1.25rem;
  color: gray;
}

.d-flex .fa-user {
  font-size: 1.25rem;
  color: green;
  
}

.d-flex .fa-tint {
  font-size: 1.25rem;
  color: green;
}

/* Responsive Design */
@media (max-width: 767px) {
  .navbar-nav {
    margin-top: 10px;
  }

  .navbar-nav .nav-link {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
